# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build output
dist/
build/

# SQLite database file
*.sqlite
*.sqlite3
*.db
*.db3
database.sqlite
fineWash.db
fineWash.db
